* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
body {
    font-family: "Poppins", sans-serif;
}
.flex-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.theme__container {
    width: 100%;
    height: 870px;
    position: relative;
    background-image: url(../../assets/Images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*START HEADER */
header {
    width: 100%;
    height: 104px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(0 0 0 / 73%);
}

.header__logo {
    margin-left: 64px;
    margin-right: 64px;
    text-align: center;
    text-decoration: none;
}
h2{
    color:white;
    font-family: 'Times New Roman', Times, serif;
    
}

.header__navbar {
    list-style: none;
}

.navbar__item {
    position: relative;
}

.navbar__link {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    letter-spacing: 2px;
    padding: 8px 15px 6px;
    position: relative;
}
.navbar__btn {
    background-color: #ba71da;
    margin-left: 50px;
}

/*START HOLIDAY */
.bg{
        background-color: rgb(60 60 60 / 67%);
}
.theme__holiday {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    width: 80%;
    max-width: 1200px;
    letter-spacing: 1px;
}

.holiday__title {
    font-size: 50px;
    margin-bottom: 20px;
}

.holiday__text {
    font-size: 20px;
    letter-spacing: 3px;
    margin-bottom: 40px;
}
.holiday__choose-wrap {
    width: 44%;
    margin-right: auto;
    margin-left: auto;
}


.holiday__choose-item img {
    width: 32%;
}

.holiday__choose-item span {
    display: block;
    font-size: 12px;
}

/* END HOLIDAY */



/* START NEXT HOLIDAY 24*7 */
.next-holiday {
    margin-top: 60px;
    margin-bottom: 60px;
    height: 204px;
    width: 100%;
    background: no-repeat center / cover url(https://leloc90.github.io/loveTravel/assets/images/parallax-search-2.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.next-holiday>* {
    width: 32%;
}

.next-holiday__text-wrap {
    font-size: 46px;
    font-weight: bold;
    color: #fff;
    line-height: 1;
}

.next-holiday__text-2 {
    display: inline;
}

.next-holiday__btn-wrap {
    text-align: center;
}

.next-holiday__btn {
    color: rgba(247, 101, 112, 0.95);
    background-color: #fff;
    padding: 8px 40px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 14px;
}

/* END NEXT HOLIDAY */

/* Tour list */
.tours__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tours__item {
    width: 30%;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.tours__item img {
    width: 46px;
    height: 46px;
    margin-right: 12px;
}

.tours__info {
    letter-spacing: 1px;
}

.tours__info h5 {
    font-size: 20px;
    color: var(--primary-text-color-2);
}

.tours__info p {
    font-size: 13px;
    color: var(--primary-text-color);
    margin: 12px 0;
}

.tours__info a {
    text-decoration: none;
    color: #14b9d5;
    font-size: 12px;
}

/* START DISCOVER */
.discover__container {
    margin: 60px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.discover__img-2 {
    background: no-repeat center / cover url(../../assets/Images/gangotri.jpg);
}

.discover__img-1 {
    background: no-repeat center / cover url(../../assets/Images/yamunotri.jpg);
}
.discover__img-3 {
    background: no-repeat center / cover url(../../assets/Images/kedarnath.jpg);
}

.discover__img-4 {
    background: no-repeat center / cover url(../../assets/Images/badrinath.jpg);
}
.discover__item {
    flex: 1;
    height: 248px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
}



/* Tablet & Mobile */
@media (max-width: 1023px) {
    .hide-on-tablet-mobile {
        display: none;
    }

    header {
        position: relativ;
    }

    .header__menu-icon {
        font-size: 60px;
        margin-left: 0;
        margin-right: 50px;
    }

    .header__logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
    }

    .sub-menu__check:checked~.sub-menu-tablet-mobile {
        transform: translateX(0%);
        opacity: 1;
    }

    .dest__list {
        margin-left: 0;
        margin-right: 0;
    }

    .tours__beaches {
        flex-wrap: wrap;
    }

    .beaches__info,
    .beaches__wrap {
        width: 100%;
    }

    .beaches__wrap {
        margin-top: 24px;
    }

    .tours__list {
        margin-top: 120px;
        flex-wrap: wrap;
    }

    .tours__item {
        width: 100%;
    }

    .tours__info p {
        font-size: 16px;
    }

    .tours__info a {
        font-size: 14px;
    }

    .discover__container {
        flex-wrap: wrap;
    }

    .discover__item {
        flex: unset;
        height: 300px;
        width: 100%;
    }

    .discover__item p {
        font-size: 16px;
    }

    .discover__item h4 {
        font-size: 36px;
    }

    .discover__item a {
        font-size: 16px;
    }

    .promotion__wrap {
        flex-wrap: wrap;
    }

    .promotion__item {
        width: 100%;
    }

    .promotion__item-head h5 {
        font-size: 26px;
    }

    .sub-menu__place-info p,
    .promotion__item-head p {
        font-size: 16px;
    }

    .promotion__item-thema-text {
        font-size: 16px;
    }

    .promotion__item-thema-price {
        font-size: 28px;
    }

    .promotion__item-desc {
        font-size: 16px;
    }

    .promotion-btn-1,
    .promotion-btn-2,
    .promotion-btn-3 {
        padding: 7px 36px 6px;
        font-size: 18px;
    }

    footer {
        padding-top: 86%;
    }

    .footer__container {
        width: 96%;
    }

    .footer__head {
        flex-direction: column;
    }

    .footer__title h5 {
        font-size: 32px;
    }

    .footer__title,
    .footer__input {
        width: 100%;
    }

    .dest__item:active .dest__overlay {
        opacity: 1;
    }
}

/* Mobile */
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }

    .title__text {
        font-size: 32px;
    }

    .theme__container {
        height: 600px;
        background-position: -1174px -191px;
    }

    header {
        height: 74px;
    }

    .header__logo img {
        width: 52px;
    }

    .header__menu-icon {
        font-size: 32px;
        margin-right: 24px;
    }

    .theme__img>img {
        transform: scale(1.6);
    }

    .theme__holiday {
        top: 54%;
    }

    .holiday__title {
        font-size: 36px;
        margin-bottom: 14px;
    }

    .holiday__text {
        font-size: 16px;
        letter-spacing: 2px;
        margin-bottom: 20px;
    }

    .holiday__search {
        width: 100%;
        padding: 14px 20px;
        margin-bottom: 18px;
        font-size: 14px;
    }

    .holiday__search-btn {
        font-size: 18px;
    }

    .holiday__choose-wrap {
        width: 100%;
        flex-wrap: wrap;
    }

    .holiday__choose-item {
        width: 48%;
        height: 100px;
        margin-top: 12px;
    }

    .holiday__choose-item img {
        width: 36%;
    }

    .holiday__choose-item span {
        font-size: 14px;
    }

    .dest__item-flex {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .dest__wrap {
        width: 96%;
    }

    .next-holiday {
        flex-direction: column;
        height: 248px;
    }

    .next-holiday__text-wrap {
        font-size: 32px;
        align-self: flex-start;
        padding-left: 30px;
    }

    .next-holiday__text-2::after {
        width: 99%;
        height: 4px;
        bottom: 8px;
    }

    .next-holiday__btn {
        padding: 6px 26px;
        font-size: 14px;
    }

    .next-holiday__btn-wrap {
        padding-top: 42px;
        width: 100%;
    }

    .tours__container {
        width: 96%;
    }

    .beaches__bullets-item {
        width: 48px;
    }

    .beaches__wrap-time {
        height: 198px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        bottom: -140px;
        left: 12px;
        right: 12px;
        transform: translate(0, 0);
    }

    .time__block:nth-child(3)::after {
        display: none;
    }

    .time__block {
        width: 50%;
    }

    .tours__list {
        margin-top: 160px;
    }

    .promotion__container {
        width: 96%;
    }

    footer {
        padding-top: 180%;
    }

    .footer__title,
    .footer__input {
        text-align: center;
        padding: 0 12px;
    }

    .footer__title p {
        font-size: 16px;
    }

    .footer__input input {
        width: 100%;
        margin-left: 0;
    }

    .footer__btn {
        margin-left: 0;
        margin-top: 12px;
        width: 100%;
        font-size: 16px;
        padding: 6px 15px 4px;
    }

    .footer__body {
        flex-wrap: wrap;
        padding: 16px;
    }

    .footer__body-left {
        width: 100%;
        text-align: center;
    }

    .footer__logo {
        margin-left: 50%;
        width: 62px;
        height: 62px;
        transform: translateX(-50%);
    }

    .footer__social-icon {
        margin-top: 4px;
    }

    .footer__social-icon i {
        font-size: 32px;
    }

    .footer__body-right {
        width: 100%;
        margin: 12px 0;
    }

    .footer__info-list {
        margin-top: 10px;
    }

    .footer__body-bottom {
        font-size: 14px;
        padding: 12px;
        text-align: center;
        display: block;
        margin-bottom: 40px;
    }

    .promotion-text::after {
        bottom: 11px;
    }
}

//Dialog Css

//footer
*, *:after, *:before {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
body{
margin:0;
overflow-x:hidden !important;
box-sizing:border-box;
font-family: 'Source Sans Pro', sans-serif;
}


a{
text-decoration:none;
outline:none !important;
color:#fff;
}

.border-shape {
background: #ffbe00 none repeat scroll 0 0;
color: #fff;
display: block;
height: 3px;
left: 0;
margin: 20px auto;
position: relative;
right: 0;
text-align: center;
top: 0;
width: 80px;
}

.border-shape::before {
background: #ffbe00 none repeat scroll 0 0;
bottom: 0;
content: "";
height: 1px;
left: 80px;
margin: 0 auto;
position: absolute;
text-align: center;
top: 1px;
width: 100px;
}

.border-shape::after {
background: #ffbe00 none repeat scroll 0 0;
bottom: 0;
content: "";
height: 1px;
margin: 0 auto;
position: absolute;
right: 80px;
text-align: center;
top: 1px;
width: 100px;
}











/*FOOTER*/
footer{
width:100%;
background-color:#121619;
color:#fff;
}

.top_header{
padding:2rem;
display:flex;
align-items:center;
justify-content:center;
position:relative;
}

.top_header section{
display:flex;
align-items:center;
justify-content:center;
width:100%;
}

.top_header span{
padding:0 1rem;
}

.top_header .fa{
color:#ffbe00;
font-size:35px;
}

footer .border-shape {
width: 40%;
}

footer .border-shape::before {
width: 100%;
left:120px;
}

// footer .border-shape::after {
// width: 100%;
// right:120px;
// }

footer .bottom_content section{
padding:1.5rem 2rem;
display:flex;
align-items:center;
justify-content:Center;
}

.bottom_content a{
margin:0 20px;
color:rgba(255,255,255,0.7);
transition:0.5s;
}

.bottom_content a:hover{
color:rgba(255,255,255,1);
}


.copyright{
padding:0.8em 0;
background-color:#1e1e1e;
text-align:center;
color:rgba(255,255,255,0.7);
font-size:12px;
}



// @media (max-width:820px){
// .top_header{
// padding:1rem;
// display:block;
// }

// .top_header section{
// margin:40px 0;
// align-items:left;
// justify-content:left;
// }
// footer .bottom_content section{
// padding:1rem;
// display:block;
// }
// footer .bottom_content section a{
// padding:1rem;
// font-size:12px;
// margin:0 5px;
// display:inline-block;
// }
//}

// //contact us style
// $teal:#00b4cf;
// $white:#ffffff;

// @import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

// * {
//   box-sizing:border-box;
//   margin:0;
// }

// body {
// 	background: linear-gradient(90deg, #BE8CEF 0%, rgba(61, 46, 232, 0.83) 100%);
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	flex-direction: column;
// 	font-family: 'Montserrat', sans-serif;
//   font-size:10px;
// 	height: 100vh;
// 	margin: -20px 0 50px;
// }

// .container {
// 	background-color: $white;
// 	border-radius: 5px;
//   	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
// 			0 10px 10px rgba(0,0,0,0.22);
// 	position: relative;
// 	overflow: hidden;
// 	width: 768px;
// 	max-width: 100%;
// 	min-height: 480px;
//   min-width:370px;
// }

// h2 {
//   font-size:2rem;
//   margin-bottom:1rem;
// }
// .form-container {
//   display:flex;
// }

// .left-container {
//   flex:1;
//   height:480px;
//   background-color:$teal;
// }
// .right-container {
//   display:flex;
//   flex:1;
//   height:460px;
//   background-color: $white;
//   justify-content:center;
//   align-items:center;
// }

// .left-container {
//   display:flex;
//   flex:1;
//   height:480px;
//   justify-content:center;
//   align-items:center;
//     color:$white;
// }

// .left-container p {
//   font-size:0.9rem;
// }

// .right-inner-container {
//   width:70%;
//   height:80%;
//   text-align:center;
// }

// .left-inner-container {
//   height:50%;
//   width:80%;
//   text-align:center;
//   line-height:22px;
// }

// input, textarea {
// 	background-color: #eee;
// 	border: none;
// 	padding: 12px 15px;
// 	margin: 8px 0;
// 	width: 100%;
//   font-size:0.8rem;
// }

// input:focus, textarea:focus{
//   outline:1px solid $teal;
// }

// button {
// 	border-radius: 20px;
// 	border: 1px solid #00b4cf;
// 	background-color: #00b4cf;
// 	color: #FFFFFF;
// 	font-size: 12px;
// 	font-weight: bold;
// 	padding: 12px 45px;
// 	letter-spacing: 1px;
// 	text-transform: uppercase;
// 	transition: transform 80ms ease-in;
//   cursor:pointer;
// }

// button:hover {
//   opacity:0.7;
// }
// @media only screen and (max-width: 600px) {
//   .left-container{
//     display: none;
//   }
//   .lg-view {
//     display:none;  
//   }
// }

// @media only screen and (min-width: 600px) {
//   .sm-view {
//     display:none;  
//   }
// }

// form p {
//   text-align:left;
// }

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


